<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Scary Story</title>
  </head>
  <body>
    <h1>Scary Story</h1>
    <p>In a dark cave in the middle of the woods, a small doll waited. The doll was haunted, but it needed the soul of an innocent to harness evil powers and bring destruction to the world.</p>
    <p>It's no surprise that when little @Model.Name wandered in, curiosity took over. @Model.Name picked up the doll and declared it their best friend. The family took the doll home to @Model.Place</p>
    <p>Immediately after, their house was infested by spiders. The family ran out screaming. An exterminator paid a visit to the house the next day, but they found no spiders or eggs. Then a week later, @Model.Name came home to find the doll floating, @Model.Verb above their bed!</p>
    <p>The parents soon realized they were dealing with a haunted relic and decided to return the doll to the cave in the woods. When they tried to take it back, a storm blocked their path. So they left the doll on the side of the trail and ran for their lives.</p>
    <p>So remember, if you see a small doll in the middle of the woods, DO NOT PICK IT UP!</p>
    <p>The End</p>
    <br><a href="/">Start Over</a></br>
  </body>
</html>