<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Vacation Story</title>
  </head>
  <body>
    <h1>Vacation Story</h1>
    <p>Many many years ago, @Model.Name went on an amazing vacation to the remote lands of @Model.Place! The weather was sunny and @Model.Name got to enjoy the stunning flora and fauna of the area.</p>
    <p>Unfortunately, something went wrong while on a guided hike in the most remote region of @Model.Place. After many many miles of treking into the wild, the experienced guide had a tragic accident thanks to his reckless @Model.Verb. This meant that @Model.Name and the group were stranded.</p>
    <p>Surprisingly, the group survived for some time on their own -- they lived off the land and were rescued @Model.Years years later. When asked if they enjoyed the vacation to @Model.Place, @Model.Name replied, "Yes, but I will never do any reckless @Model.Verb!"</p>
    <p>THE END</p>
  </body>
</html>